@charset "UTf-8";   

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: rgb(95, 29, 62);
}

header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw; 
    color: white;
    text-align: center;
    background-color: rgb(122, 25, 109);
    padding: 5px;
}

section {
    padding-top:10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left:30px;
    font-size: 2vw;
}
section > p {
    
    padding-bottom: 2em;
}

section.normal {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.493);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.493);
    background-size: cover;
    background-attachment: fixed;
}

section.normal > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.575);
    text-shadow: 1px 1px 0px black;
    display: inline-block
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 5px;

}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.623);
    text-shadow: 1px 1px 0px black;
    display: inline-block
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 5px;
}

section#img01 {
    background-image: url(imagens/img.01/biblia\ em\ hebraico.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(imagens/img.01/cruz\ na\ montanha.jpg);
    background-position: right center;
    background-size: cover;
}

section#img03 {
    background-image: url(imagens/img.01/cruz\ em\ chamas.jpg);
    background-position: right center;
    background-size: cover;
}

section#img04 {
    background-image: url(imagens/img.01/LeãodeJuda01.jpg);
    background-position: right center;
    background-size: cover;
}
section#img05 {
    background-image: url(imagens/img.01/jusus\ com\ cajado.jpg);
    background-position: top center;
    background-size: cover;
}

imagem {
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

a {
    background-color: black; 
    color: rgb(165, 53, 68);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    text-decoration: none;
    border-radius: 150px;
    
}
a:hover {
    color: rgb(218, 233, 17);
    text-decoration: underline;
}

